<div>
  <h2>Trainingen in Gouda</h2>
  <h3>Locatie</h3>
  <p class="mb">Gymzaal ISK aan de Calslaan 100</p>
  <p class="mb">Maandag en woensdag om 18.00 en 19.30 uur</p>
  <p>De trainingen beginnen in augustus en januari, maar tussentijds instromen is ook mogelijk.</p>
  <h3>Maandagen 2023</h3>
  <ol>
    <li>Augustus 21, 28</li>
    <li>September 4, 11 ,18, 25</li>
    <li>Oktober 2, 9, 23, 30</li>
    <li>November 6, 13, 20, 27</li>
    <li>December 4, 11, 18</li>
  </ol>
  <h3>Woensdagen 2023</h3>
  <ol>
    <li>Augustus 23, 30</li>
    <li>September 6, 13 ,20, 27</li>
    <li>Oktober 4, 11, 25</li>
    <li>November 1, 8, 15, 22, 29</li>
    <li>December 6, 13, 20</li>
  </ol>
</div>