<header>
  <div>
    <h1>Mijn puzzels</h1>
    <quote>&ldquo;Laat de muziek het werk doen&rdquo;</quote>
  </div>
    <nav>
      <ol>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/proefles">Proefles</a></li>
        <li><a href="/assets/pdf/fitfm-folder-2023.pdf" target="_blank">Folder</a></li>
      </ol>
    </nav>
</header>