.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 12px;
  @media screen and (min-width: 600px) {
    width: 600px;
  }
}

h2 {
  margin: 64px 0 12px 0;
  font-size: 1.75rem;
  &:first-of-type {
    margin-top: 0;
  }
}

li {
  list-style-type: "";
  margin-bottom: 32px;
}

div {
  position: relative;
  line-height: 1.1;
  & > img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.6);
  }
  & > span {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 64px;
  }
}
