<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link rel="canonical" href="{{ site.url | toCanonicalUrl }}" />
    <meta name="description" content="{{ description or site.description }}" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      {%- include "../components/header.njk" -%}
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
