/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Britannic";
  src: url("/assets/fonts/BritannicBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
header {
  background-color: #f2e7e2;
  border: solid 1px #85310f;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
header div {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  justify-content: center;
}
@media (min-width: 400px) {
  header div {
    justify-content: space-between;
  }
}
header nav {
  background-color: #85310f;
  padding: 8px;
}
header nav ol {
  list-style: "";
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  width: fit-content;
  margin: 0 auto;
}
header nav a {
  color: #ffffff;
}
header h1 {
  font-family: Britannic, Calibri, sans-serif;
  font-size: 5rem;
  color: #087b56;
  letter-spacing: 1px;
}
header h1 span {
  color: #85310f;
}
header h1 a {
  text-decoration: none;
  color: currentColor;
}
header h1 a:hover {
  text-decoration: underline;
}
header quote {
  display: none;
  color: #85310f;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 400px) {
  header quote {
    display: block;
  }
}

footer {
  margin-bottom: 48px;
}

aside > div {
  width: 260px;
  border: solid 1px #85310f;
  border-radius: 4px;
  background-color: #f2e7e2;
  padding: 12px;
  font-size: 1.1rem;
}
aside h2 {
  font-size: 1.5rem;
  color: #087b56;
  margin-bottom: 24px;
}
aside h3 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #087b56;
  margin-top: 24px;
}
aside ol {
  padding: 0;
  margin: 0;
  list-style-type: "";
}

main h2 {
  font-size: 1.7rem;
  margin: 11px 0 16px 0;
  color: #85310f;
}
main a {
  color: #087b56;
}
main a:hover {
  text-decoration-color: #85310f;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 32px;
}
section img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
section h3 {
  background-color: #087b56;
  color: #ffffff;
  text-align: center;
  font-size: 1.75rem;
  padding: 12px 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
section p {
  line-height: 1.3;
}
section p:first-of-type {
  margin-top: 16px;
}
section a:hover {
  color: #087b56 !important;
}
section div.contact {
  background-color: #85310f;
  border-radius: 4px;
  color: #ffffff;
  padding: 24px;
}
section div.contact strong {
  font-family: Britannic, Calibri, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
section div.contact img {
  width: 100%;
  margin-top: 32px;
}

body {
  background-color: #ffffff;
  color: #101010;
  font-family: Calibri, sans-serif;
  font-size: 1.25rem;
}

p.mb {
  margin-bottom: 16px;
}

.wrapper {
  margin: 0 auto;
}
@media (min-width: 400px) {
  .wrapper {
    width: 1200px;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 24px;
  margin-top: 24px;
}
