---
permalink: "assets/js/search.js"
---

const puzzles = [ 
{%- for puzzle in puzzles.puzzlesAll -%} 
{%- if puzzle.ean -%}
{ 
  id: {{ puzzle.id }},
  brand: "{{ puzzle.brand }}",
  title: "{{ puzzle.title }}",
  ean: {{ puzzle.ean }},
  {% if puzzle.eid %}eid: {{ puzzle.eid }}{% endif %}
},
{% endif %}
{%- endfor -%} ]; 
