---
layout: layouts/page.njk
---

<div class="wrapper">
  {% for brand, puzzles in puzzles.puzzlesAll | groupby("brand") %}
  {% set index = loop.index %}
  <h2>{{ brand }}</h2>
  {% for puzzle in puzzles | sort(attribute='title') %}
  <li>
    <div class="img">
      <img 
      {% if index > 2 %}loading="lazy"{% endif %}
        width="325"
        alt="{{ puzzle.title }}"
        src="/assets/img/{{ puzzle.brand | lower | replace(" ", "-") }}-{{ puzzle.title | lower | replace(" ", "-")}}-{{ puzzle.pieces}}.webp"
      >
      {% if puzzle.done == true %}
      <span class="filler"></span>
        {% include "./_includes/svg/checked.njk" %}
      {% endif %}
      <span class="pieces">{{ puzzle.pieces }}</span>
    </div>
    <strong>{{ puzzle.title }}
      {% if puzzle.id %}<span class="id">({{ puzzle.id }})</span>{% endif %}
    </strong>
  </li>
  {% endfor %}
  {% endfor %}
</div>