---
title: Welkom
layout: layouts/page.njk
---
<div class="wrapper">
  {% for puzzle in puzzles.puzzlesAll|sort(attribute='brand') %}
  <li>
    <div class="img">
      <img src="/assets/img/{{ puzzle.brand | lower | replace(" ", "-") }}-{{ puzzle.title | lower | replace(" ", "-")}}-{{ puzzle.pieces}}.jpg">
      {% if puzzle.done == true %}{% include "./_includes/svg/checked.njk" %}{% endif %}
    </div>
    <strong>{{ puzzle.title }}</strong> ({{ puzzle.pieces }})<br/>
    <em>{{ puzzle.brand }}</em>
  {% endfor %}
</div>
